body{
	
}
h1{
	font-family: 'Vollkorn', serif;
	font-weight: 900;
	font-size: 3.5rem;
}
h2{
	font-family: 'Vollkorn',serif;
	font-weight: 800;
	font-size: 2.5rem;
	color:  #445740;
}
p{
	font-family: 'Roboto', serif;
	font-weight: 400;
	font-size: 1.2rem;
	color:  #445740
}
h5{
	font-family: 'Roboto', sans-serif;
	font-size: 0.75rem;
	color:  #445740
}
a{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
}

/*classes*/
.cards, .card{
	
	text-align: center;
}
.container-fluid{
	padding: 0;
}
.coffee{
	text-align: right;
}
.col-lg-6 .form-group{
	text-align: left;
}
.footer{
	text-align: center;
	background-color: #343a40;
	margin-bottom: 0;
	padding: 2%;
	color: #fff;
}
.head{
	background-image: url("../image/background.png");
	background-color: #ccc;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.header .col-lg-6{
	padding: 10%;
	color:  #fff;
}
.header .col-lg-6, .narasi{
	padding: 10%;
	letter-spacing: 2px;

}
.head-contact{
	padding: 10%;
}
.narasi, .head-contact{
	text-align: center;
	color:  #445740;
}
#narasi{
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: justify;
	line-height: 1.5;
}
.navbar{
	background-color: #445740;
	margin: 0;
	padding: 1% 10%;
 }
.navbar .navbar-brand{
	font-family: 'Vollkorn', serif;
	font-size: 2rem;
	font-weight: 600;
}
.row-contact{
	margin: 5% 0;
}
.row1, .col-lg-6 h2{
	text-align: left;
	
}
.row1 p{
	margin-top: 5%;
	width: 75%;
	text-align: justify;
	
}
.forms{
	margin: 5% 0;
}
.row-narasi{
 	padding: 5% 0;
 	text-align: center;

 }


.Variants{
	text-align: center;
	padding: 10%;
}
.cards{
	padding: 5%;
}
 
/*Queries*/
@media (max-width: 990px){
	.cards{
		transform: scale(0.95);
	}
	#header,.coffee,.button-contact{
		text-align: center;
	}
	.header .col-lg-6{
		padding: 5% 12%;
	}
	.head-button{
		margin-top: 10%;
	}
	.header{
		padding-top: 0;
	}
	#narasi{
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
}
	.row1{
		text-align: center;
				padding: 2%;
	}
	.row1 p, .row1 i{
		margin: 5% auto;
		text-align: justify;
	}
	.row-narasi{
		margin-left: auto;
		margin-right: auto;
		size: 50%;
		width: 60%;
	}
}